.cursor {
  --width: calc(var(--index) * 22);
  --height: calc(var(--index) * 14);
  position: fixed;
  width: var(--width);
  height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  will-change: transform;
}
